/* .container {
  @apply flex flex-col bg-white;
  min-height: 100vh;
  padding: 0 0.5rem;
} */

:global(.dark) .container {
  @apply bg-black;
  @apply flex flex-col;
}

.header {
  @apply flex items-center justify-between;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #eaeaea;
}

.main {
  @apply flex flex-col;
  flex: 1;
  align-items: center;
}

.footer {
  @apply flex items-center justify-between;
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
}
